{% if nginx_uwsgis is defined %}
{% for uwsgi in nginx_uwsgis %}
        # {{ uwsgi.comment }}
        location {{ nginx_url_prefix }}/{{ uwsgi.url|default("") }} {
            include uwsgi_params;
{% if nginx_service_host is defined %}
            uwsgi_param HTTP_HOST {{ nginx_service_host }};
{% endif %}
{% if uwsgi.port is defined %}
            uwsgi_pass 127.0.0.1:{{ uwsgi.port }};
{% elif uwsgi.socket is defined %}
            uwsgi_pass unix://{{ uwsgi.socket }};
{% endif %}
        }
{% endfor %}
{% endif %}
