{% if nginx_redirects is defined %}
{% for redirection in nginx_redirects %}
        # {{ redirection.comment }}
        location {{ redirection.location }} {
                return {{ redirection.code|default(301) }} {{ redirection.target }};
        }
{% endfor %}
{% endif %}
